@charset "utf-8";
@import url("Open_Sans_Light/stylesheet.css");
h1 {
	font-family: "Open Sans Light";
	font-size: 36px;
	font-style: normal;
	font-weight: bold;
	background-color: #D3DAE4;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #333;
}
